/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--main-color: #596D48;
	--bg-color: #E5E7EB;
}

label {
	display: block;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.banner {
	background-color: hsla(0, 0%, 0%, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.banner > img {
	width: 5rem;
}

#bannerText {
	color: var(--bg-color);
	font-size: 5rem;
}

.container {
	display: flex;
	min-height: 100vh;
}

#containerLeft {
	padding-top: 25vh;
	background: url("../img/halie-west-25xggax4bSA-unsplash.jpg");
	background-size: cover;
	flex: 0 1 33%;
}

#containerRight {
	padding-top: 5vh;
	/* padding-bottom: 10vh; */
	flex: 0 1 67%;
	align-self: center;
}

#containerRight > p, #containerRight > button, .formField > p,
.formField > form {
	margin-left: 5rem;
}

.formField {
	padding: 2rem 0;
	margin: 2rem 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	margin: 0 5rem;
}

.field {
	flex: 1 1 40%;
	display: flex;
	flex-direction: column;
}

input {
	border: 1px solid var(--bg-color);
	border-radius: 5px;
	font-size: 1.5rem;
	max-width: 400px;
}

.topText {
	font-weight: bold;
	font-size: 3rem;
}

.varWidth {
	width: min(40ch, 90%);
}

p + p {
	margin-top: 2rem;
}

.formField > p {
	padding-bottom: 2rem;
}

#submitCadastro {
	font-size: 2rem;
	margin-bottom: 2rem;
	color: var(--bg-color);
	background-color: var(--main-color);
	border: none;
	border-radius: 10px;
	padding: 1rem 2rem;
}

.formField, #submitCadastro,input:focus {
	box-shadow: -1px 4px 12px 3px rgb(0 0 0 / 15%);
}

input:focus {
	outline: none;
	border: 1px solid blue !important;
}

input:invalid {
	outline: none;
	border: 1px solid red;
}

#phone::after {
	content: "bruh";
	color: red;
}

a, a:visited {
	text-decoration: none;
	color: var(--main-color);
}

a:hover {
	color: blue;
}

button + p {
	margin-bottom: 20px;
}

@media only screen and (max-width: 1080px){

	.topText {
		font-size: 2em;
	}

	.container {
		height: 100%;
		align-items: center;
	}

	#containerLeft {
		display: none;
	}

	#containerRight {
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	p {
		align-self: center;
		text-align: center;
		justify-self: center;
	}

	.field {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
		position: relative;
	}

	#submitCadastro {
		width: 300px;
	}

	#containerRight > p, #containerRight > button, .formField > p, .formField > form {
		margin-left: 0rem;
	}

	form {
		margin: 0px;
	}
}